
img{
  width: 300px;
    height: 158px;
    object-fit: fill;
}

.product-container{ 
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.product-container-left{
  width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.product-container-right{
  display: flex;
  width: 500px;
  justify-content: flex-end;
}

.subtotal-container{ 
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.subtotal-container-left{
  width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtotal-container-right{
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-end;
}

.total-container{ 
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.total-container-left{
  width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.total-container-right{
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-end;
}


.cart-container{
  width: 1000px;
  background-color: lightgrey;
 
}
hr{
  opacity: 0.2;
}

.App{
  display: flex;
    flex-direction: column;
    align-items: center;
  background-color: #F6F5F8;
  margin: 50px;
}